
  <div class="container" id="affiche">
    <% repFiliere,nbLignes,nomFiliere = filiere($repCedulables)                %> 
    <b><h4>
    <%   flash[:notice] = "--> CEDULABLES:  #{nomFiliere} [#{nbLignes} lignes]"%>
    <%   flash[:notice] +=".......................................[#{@blocMC}]"%>
    </b></h4>
      <div class="row">    
	<% x = 0 ; y = 0 ; %>
	<% until x > @mc.size do %>
	
	  <% until y == 5  do %>
	    <% style, status = statusMetaclasse(@mc[x]) if @mc[x] %>
	    
	    <div class="col-lg-2 ligneHaute">
	      <% if @mc[x] %>		
		<%= link_to @mc[x], changerEtatMetaclasse_path(:mcTraitee=>@mc[x],:blocMC=>@blocMC), style: style %>
	      <% end ; x += 1; y += 1 %>
	    </div>
 	    
	  <% end ; y = 0 %>
	  
	<% end %> 
	
      </div>
  </div>
