<body>

  <div class="jumbotron">
    <h1> <% @execute  %></h1>
  </div>

  <% case @execute    
    when "repartir"  %>  
      <% save_NomsMetaclasses("4-en_traitement")                       %>
      <% mc_A_repartir = obtenirNomsMetaclasses("4-en_traitement")     %>
      <h2> <%= mc_A_repartir %> </h2>
      <% executionSansErreur = system "./repartir.sh #{mc_A_repartir}" %>
      <%= "ERREUR D'EXECUTION" unless executionSansErreur              %>
      

  <% when "valider"    %> 
      <% save_NomsMetaclasses("4-en_traitement")                         %>
      <% mc_A_valider = obtenirNomsMetaclasses("4-en_traitement")        %>
      <h2> <%= mc_A_valider %> </h2>
      <% executionSansErreur = system "./valider.sh #{mc_A_valider}"     %>
      <% msgOperationValider(executionSansErreur)                        %>
      <% effacer_DerniereFiliere("cedulables") unless executionSansErreur%>
      <% updateCedulables                                                %>


  <% when "invalider"  %> 
  <% when "sample"     %> 
  <% when "variance"   %> 
  <% when "fix-ceds"   %> 
  <% when "ceduler"    %> 
  <% when "viabiliser" %> 
  <% when "compacter"  %> 
  <% when "diago"      %> 
  <% when "fix-hor"    %>
  <% when "stop"       %>
  
  <% else              %> 
      <h3> <%= "Aucune des actions programmees ne correpond a votre demande" %> </h3>
  <% end               %> 
  

  <% @blocMC = "index" unless @blocMC  %>

  <script> pageWeb(@blocMC); </script>
 
</body>