<body>

<h1> CRÉER LA BASE DE DONNÉES </h1>

    <h3> Copie [horaires.txt] du répertoire hor13 au répertoire hor/app/public </h3>
    <h3> Copie aussi [metaclasses.txt] au même répertoire public </h3><br>
      <%  system "./horaires.sh" %> 
  
    <h3> Création de la base de données Métaclasses et Activités </h3>
      <%   creerBaseDeDonnees    %>  

  <script>page = "BaseDeDonnees" ; pageWeb(page); </script>

</body>