<div class="jumbotron">

  <h2>DÉ-SÉLECTIONNER METACLASSES EN TRAITEMENT</h2>

</div>

 <% deSelectionner("4-en_traitement") %>
  


<script>

  window.location.replace("http://localhost:3000/");

</script>


