<body>

  <div class="jumbotron">
    <h2>FILTRER UNE FILIÈRE</h2>
  </div>


  <% intervalle = obtenirIntervalleDerniereFiliereValider(diviseur = 10)               %> 
  <% system "./filtrer.sh #{intervalle}"                                               %>
  <% flash[:notice] = "FILTRE: #{intervalle} lignes d'intervalle"                      %>
  <% flash[:notice] += " ---> CEDULABLES [ #{nbLignesDerniereFiliere("op/cedulables")} ]" %>
  

  <script> pageWeb(page); </script>

</body>

    
