<div class="jumbotron">

 <h1>HORAIRE à la page: INDEX</h1>
 
  <% string="EPS1A,EPS1B,EPS2A,EPS2B,EPS1C_29,EPS3B,EPS4C_39,EPS4B_5B,EPS5C_45,EPS5C_46" %>
  <%= system "./valider.sh #{string}"  %>
  

</div>
