<div class="center">

  <h1>METACLASSES</h1> 
  
</div>

<% lire(mc = metaClasses = []) %>  

<div>
  <table border:1px solid black;style="width:100%">
    <% x = rang = col = 1 # col:colonne rang:rangée%>
    <% nb_col = 3 %>
    <tr>
      <% while col % nb_col != 0 %>
      <td> 
	<% x = (col-1) + (rang-1) * nb_col %>
	<label class="container"><%= mc[x] %>
	  <input type="checkbox">
	  <span class="checkmark"></span>
	</label>
      </td>
      <% col += 1 %>
      <% end %>
      <% col = 1 ; rang += 1 %>
    </tr>
  </table>
</div>

  
  <p> <%= link_to 'VALIDER', valider_path, class:"btn btn-primary btn-lg" %> </p>


