<body>

<% lire(mc = metaclasses = []) %>  

  <div class="container">
    <div class="row">    
      <% x = y = 0 %>
      <% until x > mc.size do %>
	<% until y == 5 do %>
	  <div class="col-lg-2"><input type="checkbox" value=<%= mc[x] %>><font size="4" "bold">
	    <%= mc[x] %><% x += 1; y += 1 %>
	  </div> 
	<% end ; y = 0 %> 	
      <% end %> 
    </div>
  </div>

  


</body>