<body>

<% lire(mc = metaclasses = []) %>  

  <div class="container">
    <div class="row">    
      <% x = y = 0 ; color = ""%>
      <% until x > mc.size do %>
	<% until y == 5 do %>
	  <div class="col-lg-2 ligneHaute">
	    <input type="checkbox" checked="true" name=<%= mc[x] %>></input>
	    <font size=4.5 color=<%= color%>><%= mc[x] %><% x += 1; y += 1 %>
	  </div> 
	<% end ; y = 0 %> 	
      <% end %> 
    </div>
  </div>

  


</body>