<body>

  <div class="jumbotron">
    <h1>INFO des HORAIRES CÉDULABLES</h1>
  </div>


  <% variance, horaireTemp = infoDesCedulables %> 
  <%= system "./infoCedulables.sh #{horaireTemp}"          %>


  <script> pageWeb(page);  </script>

  
</body>