<div class="jumbotron">

  <h1>INFO </h1>

</div>

  <script> var page = "info"; </script>

  <%= variance, horaireAfixer = info(horaireAfixer = "") %>
 
  <%= system "./infoTemp.sh #{horaireAfixer}" %>
  
  
 


</body>