<body>

  <div class="jumbotron">
    <h1>INFO des HORAIRES CÉDULABLES</h1>
  </div>

  <script> var page = "infoCedulables"; </script>

  <%= variance, horaireTemp = info(horaireTemp = "") %> 
  <%= system "./infoCedulables.sh #{horaireTemp}"          %>
  
  <script> pageWeb(page);  </script>

  
</body>