<body>

  <div class="jumbotron">
    <h1>INVALIDER: METACLASSES TRAITÉES</h1>
  </div>


  <%  reactiverMetaclasses("4-en_traitement")  %>

  <%= system "./invalider.sh"                  %> 


  <script> pageWeb(); </script>

</body>

    
