<body>

  <div class="jumbotron">
    <h1>INVALIDER: METACLASSES TRAITÉES</h1>
  </div>


  <%= system "./invalider.sh"                 %> 
  <%  restaurerMetaclasses("4-en_traitement") %>


  <script> pageWeb(); </script>

</body>

    
