<div class="jumbotron">

  <h1>VALIDER LES METACLASSES:</h1>

</div>

  <%= mcEnJeu = obtenirMetaclassesEnJeu(mcEnJeu = "") %>
 
  <%= system "./valider.sh #{mcEnJeu}" %>
  
  <% changerMetaclassesEnJeu_pourCedulables %>
  

<div class="jumbotron">

    <p> <%= link_to 'INDEX', root_path, class:"btn btn-primary btn-lg" %> </p>


</div>




    
