<body>

  <div class="jumbotron">
    <h2>VALIDER: METACLASSES:</h2>
  </div>


  <% saveNomsMetaclasses("4-en_traitement")                      %>
  <% mc_A_valider = obtenirNomsMetaclasses("4-en_traitement")    %>

  <% executionSansErreur = system "./valider.sh #{mc_A_valider}" %>
  
  <% effacerLaDerniereFiliere("cedulables") if !valide        %>
  <% analyseExecutionValider(executionSansErreur)                %>
  <% changerMetaclassesEnTraitement_pourCedulables if valide     %>
  <% saveNomsMetaclasses("3-cedulables") if valide               %>
  
  
  <script> pageWeb(page); </script>

</body>

    
