<body>

<!--
  <script> var page = "valider"; </script>
-->

  <div class="jumbotron">
    <h2>VALIDER: METACLASSES EN JEU</h2>
  </div>


  <%  saveNomsMetaclasses("4-en_traitement")                      %>
  <%= nomsMetaclasses = obtenirNomsMetaclasses("4-en_traitement") %>
  <%= system "./valider.sh #{nomsMetaclasses}"                    %>
  <%  changerMetaclassesEnTraitement_pourCedulables               %>
  <%  saveNomsMetaclasses("3-cedulables")                         %>
  

  <script> pageWeb(); </script>

</body>

    
