<body>

  <script> var page = "valider"; </script>

  <div class="jumbotron">
    <h1>VALIDER: METACLASSES EN JEU</h1>
  </div>


  <%  sauverNomsMetaclasses("4-en_traitement")                    %>
  <%= nomsMetaclasses = obtenirNomsMetaclasses("4-en_traitement") %>
  <%= system "./valider.sh #{nomsMetaclasses}"                    %>
  <%  changerMetaclassesEnJeu_pourCedulables                      %>
  <%  sauverNomsMetaclasses("3-ceculables")                       %>
  

  <div class="jumbotron">
      <p> <%= link_to 'INDEX', root_path, class:"btn btn-primary btn-lg" %> </p>
  </div>


  <!--  Quand la procédure sera stable 
  <script> pageWeb(); </script>
  -->

</body>

    
