<div class="jumbotron">

  <h1>VALIDER LES METACLASSES:</h1>

</div>

<p><%= string = "EPS1A,EPS1B,EPS2A,EPS2B,EPS1C_29,EPS3B,EPS4C_39,EPS4B_5B,EPS5C_45,EPS5C_46" %></p>
 
<p><%= system "./valider.sh #{string}"  %></p>
  

<div class="jumbotron">

    <p> <%= link_to 'INDEX', root_path, class:"btn btn-primary btn-lg" %> </p>


</div>




    
