<body>

  <div class="jumbotron">
    <h2>VALIDER: METACLASSES:</h2>
  </div>


  <% save_NomsMetaclasses("4-en_traitement")                     %>
  <% mc_A_valider = obtenirNomsMetaclasses("4-en_traitement")    %>
  
    <h2><%= mc_A_valider  %></h2>

  <% executionSansErreur = system "./valider.sh #{mc_A_valider}" %>
  
  <% afficher_MsgOperationValider(executionSansErreur)           %>
  <% changer_MetaclassesEnTraitement_pourCedulables if valide    %>
  <% save_NomsMetaclasses("3-cedulables") if valide              %>
  <% effacer_DerniereFiliere("cedulables") if !valide            %>
  
  
  <script> pageWeb(page); </script>

</body>

    
