<body>

  <div class="jumbotron">
    <h2>VALIDER: METACLASSES:</h2>
  </div>

  <script> if (timeout) clearTimeout(timeout); </script>

  <% save_NomsMetaclasses("4-en_traitement")                     %>
  <% mc_A_valider = obtenirNomsMetaclasses("4-en_traitement")    %>
  <% puts "mc_A_valider = #{mc_A_valider}" ; exit)    %>
  
  <h2>
  <%= mc_A_valider                                               %>
  </h2>

  <% executionSansErreur = system "./valider.sh #{mc_A_valider}" %>
  
  <% msgOperationValider(executionSansErreur)                    %>
  <% effacer_DerniereFiliere("cedulables") if !valide            %>
  <% updateCedulables                                            %>
  
  
  <script> pageWeb(page); </script>

</body>

    
