<body>

  <div class="jumbotron">
    <h2>---- VARIANCE ----</h2>
  </div>


  <% variance = system "./variance.sh"                                                             %>
  <% variance ? flash[:notice] = "VARIANCE: RÉUSSIE" : flash[:notice] = "ERREUR DE FONCTIONNEMENT" %>
  

  <script> pageWeb(page); </script>

</body>

    
