/* ------------------------------
     CHECK BOXES
   ------------------------------ */
   
input[type=checkbox]:focus {
    background-color: lightblue;
}

input[type=checkbox]:hover {
    background-color: lightgreen;
    border: 2px solid #555;
}
