$navbar-default-bg: lightskyblue;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
    float: right;
    font-size: 1.7em;
    color: red;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
#logo:hover, active {
    color: green;
    text-decoration: underline;
  }

.center {
    text-align: center;
  }
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}

body { 
    padding-top: 50px;
    padding-bottom: 60px;
}

.metaclassesChoisies {
    background-color: black;
    color: white;
    padding-bottom: 7px;
    text-align: center;
    font-weight: bold;
} 

.ligneHaute {
    line-height: 150%;
}


.btn {
    color: yellow;
    font-weight: bold;
    border-radius: 15px;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 7px;
}

input[type=checkbox]:focus {
    background-color: lightblue;
}

input[type=checkbox]:hover {
    background-color: lightgreen;
    border: 2px solid #555;
}
