$navbar-default-bg: lightskyblue;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
    float: right;
    font-size: 1.7em;
    color: red;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
#logo:hover, active {
    color: green;
    text-decoration: underline;
  }

.center {
    text-align: center;
  }
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}

body { 
    padding-top: 40px;
    padding-bottom: 65px;
}

.metaclassesChoisies {
    background-color: black;
    color: white;
    padding-bottom: 7px;
    text-align: center;
    font-weight: bold;
	font-size: 5;
} 

.ligneHaute {
    line-height: 300%;
}


.btn {
    color: yellow;
    font-weight: bold;
    border-radius: 15px;
}

.container-fluid {
    padding-top: 7px;
    padding-bottom: 7px;
}


.textMetaclasse:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
