$navbar-default-bg: lightskyblue;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: red;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  }
  
#logo:hover, active {
  color: green;
  text-decoration: underline;
  }

.center {
  text-align: center;
  }
  
