.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 20;
    left: 30%;
    margin-top: -6px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



.btn-default .dropdown-menu {
  color: #000 !important;
}
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
  background-color: #000 !important;
  color:#fff !important;
}


.btn-group-primary .dropdown-menu .dropdown-submenu {
  background-color: #3784c5 !important;
}

.btn-group-primary .dropdown-menu .dropdown-submenu li > a:hover,
.btn-group-primary .dropdown-menu .dropdown-submenu li > a:focus {
  background-color: "white" !important;
}


.btn-group-success .dropdown-menu {
  background-color: #51b351 !important;
}

.btn-group-success .dropdown-menu li > a:hover,
.btn-group-success .dropdown-menu li > a:focus {
  background-color: #5cb85c !important;
}


.btn-group-info .dropdown-menu {
  font-weight: bold;
  background-color: #4ebbdb !important;
}

.btn-group-info .dropdown-menu li > a:hover,
.btn-group-info .dropdown-menu li > a:focus {
  background-color: #5bc0de !important;
}


.btn-group-warning .dropdown-menu {
  background-color: #efa640 !important;
}
.btn-group-warning .dropdown-menu li > a:hover,
.btn-group-warning .dropdown-menu li > a:focus {
  background-color: #f0ad4e !important;
}


.btn-group-danger .dropdown-menu {
  background-color: #d64742 !important;
}

.btn-group-danger .dropdown-menu li > a:hover,
.btn-group-danger .dropdown-menu li > a:focus {
  background-color: #d9534f !important;
}

